.cardBody {
  display: flex;
  margin-right: 30px;
  border-radius: 40px !important;
  background: linear-gradient(315deg, #cacaca, #f0f0f0);
  box-shadow: -32px -32px 63px #bebebe, 32px 32px 63px #ffffff;
}